$colors: ( complementary: #afe3c0, main: #ffffff, emphasize: #d89a9e, gray: #5f6368, lifgtgray: #d3d3d3);
$font: 'microsoft jhenghei';
html,
body {
    margin: 0;
    font-size: 24px;
}

.bar {
    align-items: center;
    border-bottom: 0.5px solid map-get($map: $colors, $key: lifgtgray);
    box-sizing: border-box;
    padding: 0.5rem;
    height: 3.5rem;
    display: flex;
    color: map-get($map: $colors, $key: gray);
    &__left {
        display: flex;
        align-items: center;
        width: 20%;
        flex-basis: 20%;
        margin-left: 0.5rem;
    }
    &__icontainer {
        width: 5rem;
        height: 2rem;
        margin-left: 1rem;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        width: 25%;
        flex-basis: 25%;
    }
    &__th {
        margin: 0 1rem;
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    &__self {
        background: #c2185b;
        box-sizing: border-box;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.9rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 2rem;
    }
}

.icon {
    width: 100%;
    height: 100%;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.search {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background: #f1f3f4;
    width: 55%;
    flex-basis: 55%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    &__group {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
    }
    &__title {
        margin-left: 0.5rem;
    }
}

.body {
    height: calc(100vh - 3.5rem);
    display: flex;
}

.l-body {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        border: none;
        box-shadow: 0 1px 3px #999;
        box-sizing: border-box;
        border-radius: 1.5rem;
        margin-top: 1rem;
        overflow: hidden;
        padding: 0.5rem 1rem;
        max-width: 6rem;
        height: 2.5rem;
        margin-left: 0.5rem;
    }
    &__box {
        height: 8rem;
        width: 100%;
        margin-top: .5rem;
        overflow-y: hidden;
        box-sizing: border-box;
        box-shadow: -1px 1px 2px map-get($map: $colors, $key: lifgtgray);
        &:hover {
            overflow-y: auto;
        }
    }
    &__user {
        height: 2rem;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
        margin-left: .5rem;
        padding: .25rem 0;
        border-bottom: 1px solid map-get($map: $colors, $key: lifgtgray);
    }
    &__left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        padding: .25rem 0 .25rem 1rem;
        display: flex;
        width: 80%;
        border-radius: 0 10px 10px 0;
        &:hover {
            font-weight: 600;
            cursor: pointer;
        }
        &:hover,
        &--chosen:not(:first-child) {
            background-color: #e8eaed;
        }
        &--chosen:first-child {
            background-color: #fce8e6;
            .icon {
                filter: invert(22%) sepia(68%) saturate(3617%) hue-rotate(352deg) brightness(93%) contrast(83%);
            }
        }
    }
    &__icontainer {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        &--s {
            width: 1rem;
            height: 1rem;
        }
    }
    &__catergory {
        font-size: .7rem;
        padding-left: 1rem;
    }
    &__call {
        text-align: center;
        svg {
            font-size: 3rem;
            margin: 1.5rem 0;
            color: map-get($map: $colors, $key: lifgtgray);
        }
    }
    &__font--s {
        font-size: 0.75rem;
        flex: none;
        margin: 0 0.25rem;
    }
    &__font--link {
        font-size: 0.75rem;
        flex: none;
        margin: 0 0.25rem;
        color: #4c80d9;
    }
}

.m-body {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    height: 100%;
    padding-top: .5rem;
    padding-left: .5rem;
    box-sizing: border-box;
    flex-direction: column;
    &__bar,
    &__l {
        display: flex;
        color: map-get($map: $colors, $key: gray);
    }
    &__bar {
        opacity: .5;
        justify-content: space-between;
        width: 100%;
        padding: .25rem 0;
    }
    &__l>svg,
    &__l>span {
        margin: 0 .75rem;
    }
    &__back {
        &:hover {
            cursor: pointer;
        }
    }
    &__checkbox {
        width: .65rem;
        height: .65rem;
        border: 3px solid map-get($map: $colors, $key: gray);
        border-radius: 5px;
        flex-shrink: 0;
        &--light {
            opacity: .3;
        }
    }
    &__list {
        font-size: .75rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }
    &__item {
        display: flex;
        padding: .75rem 0;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid map-get($map: $colors, $key: lifgtgray);
        height: .85rem;
        background: #F5F7F7;
        svg {
            opacity: .3;
            margin: 0 1rem;
        }
        &:first-child {
            border-top: 1px solid map-get($map: $colors, $key: lifgtgray);
        }
        &--active {
            background: map-get($map: $colors, $key: main);
            &:hover {
                box-shadow: 0 1px 3px map-get($map: $colors, $key: lifgtgray);
                .m-body__float {
                    display: flex;
                }
                cursor: pointer;
                svg,
                .m-body__checkbox {
                    opacity: .8;
                }
            }
        }
    }
    &__name {
        min-width: 8rem;
    }
    &__name,
    &__title {
        flex-shrink: 0;
        padding-right: .5rem;
        &--active {
            font-weight: 600;
        }
    }
    &__content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        opacity: .8;
    }
    &__float {
        position: absolute;
        justify-content: space-around;
        align-items: center;
        display: none;
        right: 0;
        top: 0;
        width: 20%;
        height: 100%;
        background: white;
        z-index: 2;
    }
    &__icontainer {
        width: 1rem;
        height: 1rem;
    }
    &__r {
        margin-right: 1.5rem;
    }
}

.r-body {
    color: map-get($map: $colors, $key: gray);
    font-size: 0.75rem;
    flex: 0 0 5%;
    max-width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    border-left: 0.5px solid map-get($map: $colors, $key: lifgtgray);
    &__icontainer {
        width: 1rem;
        height: 1rem;
        margin: 1rem 0;
    }
    &__line {
        border-bottom: 1px solid map-get($map: $colors, $key: lifgtgray);
        width: 60%;
        margin: 1rem 0;
    }
    svg {
        margin: 1rem 0;
    }
}

.letter {
    padding: .5rem;
    &__head {
        display: flex;
        position: relative;
        align-items: top;
        justify-content: space-between;
        &--l {
            display: flex;
            align-items: top;
            width: 90%;
        }
    }
    &__btn {
        background: map-get($map: $colors, $key: lifgtgray);
        align-self: baseline;
        font-size: .5rem;
        padding: 5px;
        border-radius: 5px;
        flex: 0 0 2.25rem;
    }
    &__title {
        margin-top: 0;
        margin-right: .5rem;
        display: inline-block;
        word-break: break-all;
        margin-left: 2.75rem;
    }
    &__iconGroup {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 10%;
        svg {
            margin: 0 .25rem;
            opacity: .4;
        }
    }
    &__main {
        display: flex;
    }
    &__aside {
        width: 3rem;
        flex-basis: 3rem;
    }
    &__photocontainer {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        overflow: hidden;
    }
    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__object {
        font-size: .75rem;
        font-weight: 600;
        margin: .5rem;
    }
    &__content {
        font-size: .75rem;
    }
    &__icontainer {
        width: 60%;
        height: 20rem;
        margin: 3rem auto 1rem;
    }
}

.apps {
    position: absolute;
    top: 2rem;
    right: -4rem;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 470px;
    padding: 30px 12px 70px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    z-index: 100;
    cursor: default;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap;
    &__element {
        background-repeat: no-repeat;
        background-position: 12.5px 12.5px;
        background-size: 75px 75px;
        height: 100px;
        width: 100px;
        flex-basis: 100px;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    .msg {
        color: #757575;
        font: 20px/20px Arial, sans-serif;
        letter-spacing: 0.2px;
        text-align: center;
    }
    #nlpt {
        animation: a-s 0.5s 2.5s 1 forwards;
        background-color: #f1f1f1;
        height: 4px;
        margin: 56px auto 20px;
        opacity: 0;
        overflow: hidden;
        position: relative;
        width: 300px;
    }
    #nlpt::before {
        animation: a-lb 3s 3s linear forwards;
        background-color: #db4437;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transform: translateX(-300px);
        width: 100%;
    }
    .invfr {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border: 0;
      }
      
      .msgb {
        position: absolute;
        right: 0;
        font-size: 12px;
        font-weight: normal;
        color: #000;
        padding: 20px;
      }
}

@keyframes a-lb {
    0% {
      transform: translateX(-300px);
    }
    5% {
      transform: translateX(-240px);
    }
    15% {
      transform: translateX(-30px);
    }
    25% {
      transform: translateX(-30px);
    }
    30% {
      transform: translateX(-20px);
    }
    45% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(-15px);
    }
    65% {
      transform: translateX(-15px);
    }
    70% {
      transform: translateX(-10px);
    }
    95% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes a-s {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes a-h {
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-nt {
    100% {
      transform: none;
    }
  }
  
  @keyframes a-e {
    43% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      transform: scale(0.75);
    }
    60% {
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      transform: translateY(-16px);
    }
    77% {
      animation-timing-function: cubic-bezier(0.16, 0, 0.2, 1);
      transform: none;
    }
    89% {
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      transform: translateY(-5px);
    }
    100% {
      transform: none;
    }
  }
  
  @keyframes a-ef {
    24% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
      transform: scaleY(0.42);
    }
    52% {
      animation-timing-function: cubic-bezier(0.63, 0, 0.2, 1);
      transform: scaleY(0.98);
    }
    83% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.84, 1);
      transform: scaleY(0.96);
    }
    100% {
      transform: none;
    }
  }
  
  @keyframes a-efs {
    24% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
      opacity: 0.3;
    }
    52% {
      animation-timing-function: cubic-bezier(0.63, 0, 0.2, 1);
      opacity: 0.03;
    }
    83% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.84, 1);
      opacity: 0.05;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-es {
    24% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
      transform: rotate(-25deg);
    }
    52% {
      animation-timing-function: cubic-bezier(0.63, 0, 0.2, 1);
      transform: rotate(-42.5deg);
    }
    83% {
      animation-timing-function: cubic-bezier(0.8, 0, 0.84, 1);
      transform: rotate(-42deg);
    }
    100% {
      transform: rotate(-43deg);
    }
  }